extends ../common/html5


block main
  main(class="custom-main-center")
    div(class="custom-content")
      +a("normalize.html")
        img(src="assets/images/logo/normalize.svg")
        p="Normalize"
